<% include ../Partials/head %>
<body style=" background: #f1f2f7">
<!-- Left Panel -->
<% include ../Partials/header %>
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Trunk Configuration</h1>
            </div>
        </div>
    </div>
</div>
<% if(apply == true){ %>
<div class="col-sm-12">
    <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show" role="alert" align="center">
        <a href="/ConfiguracionTrunk/applyConf"> Apply Config </a>
    </div>
</div>
<% } %>
<div class="content mt-3">

    <div class="animated fadeIn">

        <div class="row">

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Outgoing Settings</strong>
                    </div>
                    <div class="card-body card-block">
                        <% if(modify == false){ %>
                        <form action="/ConfiguracionTrunk/guardar" method="post" class="form-horizontal">

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Trunk
                                        name</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="text-input" name="trunkname"
                                                                    class="form-control"
                                                                    placeholder="Example: TrunkToCentral"
                                                                    style="moz-placeholder: stalic" required></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input"
                                                                 class=" form-control-label">Host</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="text-input" name="host"
                                                                    class="form-control"
                                                                    pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$"
                                                                    placeholder="Example: 192.168.1.1" required></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="password-input" class=" form-control-label">Username</label>
                                </div>
                                <div class="col-12 col-md-9"><input type="username" id="text-input" name="usernameT"
                                                                    class="form-control" placeholder="Example: UserA" required>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input"
                                                                 class=" form-control-label">Password</label></div>
                                <div class="col-12 col-md-9"><input type="password" id="password-input" name="secret"
                                                                    class="form-control"placeholder="Example: VG$g@t3
                                                                    way$2018" required></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input"
                                                                 class=" form-control-label">From-User</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="text-input" name="fromuser"
                                                                    class="form-control" placeholder="Example: UserA" required></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input"
                                                                 class=" form-control-label">Port</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="text-input" name="port"
                                                                    class="form-control" placeholder="Example: 5060" required>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Incoming Settings</strong>
                    </div>
                    <div class="card-body card-block">
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input"
                                                             class=" form-control-label">Username</label></div>
                            <div class="col-12 col-md-9"><input type="text" id="text-input" name="usernameI"
                                                                class="form-control" placeholder="Example: UserB" required></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="password-input"
                                                             class=" form-control-label">Password</label></div>
                            <div class="col-12 col-md-9"><input type="password" id="password-input" name="passwordI"
                                                                class="form-control"
                                                                placeholder="Example: VG$g@t3way$2018" required></div>
                        </div>

                    </div>

                </div>
            </div>

        </div>


    </div>


</div><!-- .animated -->
<% }else{ %>
<form action="/ConfiguracionTrunk/actualizar" method="post" class="form-horizontal">

    <div class="row form-group">
        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Trunk name</label></div>
        <div class="col-12 col-md-9"><input type="text" id="text-input" name="trunkname" class="form-control"
                                            placeholder="Example: TrunkToCentral" style="moz-placeholder: stalic"
                                            value="<%= trunknameS %>" required></div>
    </div>
    <div class="row form-group">
        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Host</label></div>
        <div class="col-12 col-md-9"><input type="text" id="text-input" name="host" class="form-control"
                                            pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$"
                                            placeholder="Example: 192.168.1.1" value="<%= hostS %>" required></div>
    </div>
    <div class="row form-group">
        <div class="col col-md-3"><label for="password-input" class=" form-control-label">Username</label></div>
        <div class="col-12 col-md-9"><input type="username" id="text-input" name="usernameT" class="form-control"
                                            placeholder="Example: UserA" value="<%= usernameS %>" required></div>
    </div>
    <div class="row form-group">
        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Password</label></div>
        <div class="col-12 col-md-9"><input type="text" id="password-input" name="secret" class="form-control"
                                            placeholder="Example: VG$g@t3way$2018" value="<%= secretS %>" required></div>
    </div>
    <div class="row form-group">
        <div class="col col-md-3"><label for="text-input" class=" form-control-label">From-User</label></div>
        <div class="col-12 col-md-9"><input type="text" id="text-input" name="fromuser" class="form-control"
                                            value="<%= fromuserS %>" required></div>
    </div>
    <div class="row form-group">
        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Port</label></div>
        <div class="col-12 col-md-9"><input type="text" id="text-input" name="port" class="form-control"
                                            placeholder="Example: 5060" value="<%= portS %>" required></div>
    </div>

    </div>
    </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <strong>Incoming Settings</strong>
            </div>
            <div class="card-body card-block">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Username</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="usernameI"
                                                        class="form-control" placeholder="Example: UserB"
                                                        value="<%= userInS %>"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="password-input" class=" form-control-label">Password</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="text" id="password-input" name="passwordI"
                                                        class="form-control" placeholder="Example: VG$g@t3way$2018"
                                                        value="<%= secretInS %>"></div>
                </div>

            </div>

        </div>
    </div>

    </div>


    </div>


    </div><!-- .animated -->

    <% } %>
    <div class="breadcrumbs">
        <div class="col-sm-12">
            <div class="page-header float-right">
                <% if(modify == false){ %>
                <button type="submit" class="btn btn-primary btn-sm" style="margin-top: 10px"><i
                            class="fa fa-check"></i> Submit
                </button>
                <% }else { %>
                    <button type="submit" class="btn btn-primary btn-sm" style="margin-top: 10px"><i
                                class="fa fa-check"></i> Modify
                    </button>
                <% } %>
</form>
<a href="/ConfiguracionTrunk">
    <button type="submit" class="btn btn-danger btn-sm" style="margin-top: 10px"><i class="fa fa-times"></i> Cancel
    </button>
</a>
</div>
</div>
</div>
</div><!-- .content -->


</div><!-- /#right-panel -->

<!-- Right Panel -->

<% include ../Partials/footer %>

</body>
</html>
